body{
    background-color: #479dd6;
    
    
}
#imagem{
    margin-top: 3%;
    position: relative;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#desenvolvedor{
    font: normal 10pt arial;
    margin-top: 10%;
}

p{
    text-align: center;
    margin-top: 1%;
    position: relative;   
    font: normal 18pt arial;
    color: white;
}
a{
    text-decoration:none;
}
div{
    position: relative;
    margin-top: 1%;
    width: 50%;
    height: 15%;
    text-align: center;
    background-color: rgb(241, 236, 236);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font: normal 19pt arial;
    color: black;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
    border-style: none;
    padding: 8px;

}

div:hover{
    background-color: rgba(255, 255, 255, 0.37);
}


#icon1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50%;
    width: 5.2%;
    height: 5.2%;
    margin-left: 93%;

}

#icon2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-left: 87%;
    margin-top: -5%;
    width: 5%;
    height: 5%;
}

#icon3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-left: 81%;
    margin-top: -5%;
    width: 5%;
    height: 5%;
}

#icon4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-left: 75%;
    margin-top: -5%;
    width: 5%;
    height: 5%;

}
